.cubetech-team-container h2 { font-size: 18px; text-transform: none; color: #555555; font-family: "AvenirNextLTW01-Regular", Arial, sans-serif; }
.cubetech-team-container h3 { font-size: 14px; margin-bottom: 10px; }
.cubetech-team-container { clear: both; overflow: auto; }
.cubetech-team-container hr { border-top: 1px solid #e5e5e5; border-bottom: 1px solid #f9f9f9; margin-top: 5px; }
.cubetech-team-container:last-child hr { display: none; }
.cubetech-team-container .cubetech-team-thumb-container { margin-top: 10px; position: relative; overflow: auto;  }
.cubetech-team-thumb-container .cubetech-team-thumb-hover { position: absolute; top: 0; left: 0; }
.cubetech-team-thumb-container .cubetech-team-thumb { z-index: 10; position: relative; }
.cubetech-team-clear { clear: both; width: 100%; box-sizing: border-box; padding-right: 12%; overflow: auto; }
.cubetech-team { width: 50%; float: left; padding-right: 10%; box-sizing: border-box; margin-bottom: 15px; }

.cubetech-team-row { display: inline-block; width: 100%; }

.cubetech-team-content { margin-top: 12px; }
.cubetech-team p { margin-bottom: 2px; text-transform: uppercase; font-size: 12px; color: #555555; }
.cubetech-team p a,
.cubetech-team p a:hover { text-transform: uppercase; font-size: 12px; color: #6c8597; }